/*------------------------------------- Początek menu -------------------------------------------*/


.NavbarItems {
    /* background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1)100%);*/
    height: 80px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /*margin-bottom: 200px;
*/

}

.navbar-logo {
    color: rgb(68, 165, 197);
    justify-self: start;
    cursor: pointer;
    margin-left: 35px;
}


.nav-menu {
    display: grid;
    /*https://tworcastron.pl/blog/grid-css-kompletny-kurs/*/
    grid-template-columns: repeat(5, auto);
    /*Ustawienie szerokości kolumn dla 4 elementów + auto ustawienie elementów */
    grid-gap: 10px;
    /*Odstęp między komórkami*/
    list-style: none;
    text-align: center;
    width: 70vw;
    /*1vw = 1% szerokości ekrany*/
    justify-content: end;
    margin-right: 2rem;
    /*rem - rozmiar nie jest dziedziczony od rodzica a od najwyzszego elemntu DOM strony. Najczęściej jest to znacznik HTML*/
}

/* nav-links to nazwa klasy pobrana z pliku MenuItems.js jako cName i użyta w Navbar.js*/
.nav-links {
    color: rgb(241, 241, 212);
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* nav-links to nazwa klasy pobrana z pliku MenuItems.js jako cName i użyta w Navbar.js*/

}

/* nav-links to nazwa klasy pobrana z pliku MenuItems.js jako cName i użyta w Navbar.js*/

.nav-links.nav-links:hover {
    background-color: rgb(243, 186, 64);
    border-radius: 4px;
    transition: all 0.2s ease-out;
    /*ease-out -> efekt z powolną końcówką*/
}


/*Kolor ikony menu. Menu pojaiwa sie tylko wersji mobilnej, więc mozna ostylować go w tej części kodu*/
.fa-bars {
    color: white;
}

/* nav-links to nazwa klasy pobrana z pliku MenuItems.js jako cName i użyta w Navbar.js*/
/*,,Twoje konto" zostało ukryte w wersji na komputer*/
.nav-links-mobile {
    display: none;
}

/*Ikona rówmnież jest ukrytę w wersji na komputer*/
.menu-icon {
    display: none;
}

/*Pole do wpisywania */
.input {
    border: none;
    padding: 1.8px;
    color: rgb(68, 165, 197);
    outline: none;
}

/*Lupka*/
.search {
    margin-right: 2rem;
    border-radius: 0 20px 20px 0;
    padding: 1px 5px;
    color: white;
    outline: none;
    border: 1px solid;
    cursor: pointer;
    background-color: Transparent;
}


button:hover {
    background-color: rgb(76, 204, 246);

}

/*------------------------------------- Koniec menu  -------------------------------------------*/

@media screen and (max-width: 960px) {

    /*------------------------------------- Początek menu mobilnego -------------------------------------------*/

    .NavbarItems {
        position: relative;
        margin-bottom: 20px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 450px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;

    }

    .nav-menu.active {
        background-color: rgb(76, 204, 246);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;

    }

    .nav-links:hover {
        background: violet;
        border-radius: 20px;

    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: white;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: lightblue;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }


    .nav-links-mobile:hover {
        background: rgb(243, 186, 64);
        color: rgb(76, 204, 246);
        transition: 250ms;
    }

    Button {
        display: none;
    }

    .search {
        display: block;
        margin-bottom: 15px;
    }

    .input {
        display: block;
        margin-bottom: 15px;
        margin-left: 170px;

    }

    /*------------------------------------- Koniec menu mobilnego -------------------------------------------*/

}