.FooterItems {
    background-color: rgb(243, 186, 64);
    width: 100%;
    bottom: 20px;
    padding: 0 0 0 35px;
    list-style-type: none;
    margin: 0 20px 0 0;

}

.footer-links {
    color: black;
    text-decoration: none;
}

.footer-links:hover {
    color: rgb(68, 165, 197);
}

.footer-logo {
    color: rgb(68, 165, 197);
}


.autor {
    font-size: 10px;
    text-align: center;
}

.mail {
    text-decoration: none;
    color: rgb(48, 104, 51);
}

.social {
    font-size: 25px;
    display: flex;

    justify-content: center;

}

.fb {
    margin-right: 3px;
    color: #3b5998
}

.insta {
    margin-right: 5px;
    color: #f56040;
    ;
}

.twitter {
    color: #1DA1F2;
}