* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.background-image {
  background-image: url(Background.jpg);
  background-size: cover;


}


.test {
  margin-left: 15%;
  margin-right: 15%;

}

hr {
  color: red;
}


@media screen and (max-width: 1400px) {

  .test {
    font-size: 12px;
  }


}


@media screen and (max-width: 960px) {

  .test {
    font-size: 7px;
  }

}